* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#abstract {
    font-size: medium;
}

#abstract_area {
    text-align: justify;
    min-height: 300px;
}

#abstract_area, #gudelines_area {
    border: 2px solid black;
    padding: 5px;
    width: 100%;
}

#title_area_table tr td:last-child span {
    margin-right: 5px;
    position:relative;
    top: -5px;
}

#title_area_table tr {
    height: 5ex;
}


#title_area_table tr:first-child {
    font-weight: bold;
}

#title_area_table tr td:last-child {
    text-align: center;
}

#title_area {
    min-height: 250px;
}

#title_area {
    margin-top: 15px;
    border: 2px solid black;
    padding: 5px;
    padding-bottom: 10px;
    width: 100%;
}

input[type=number], input[type=range] {
    width: 80%;
}

#but_next, #but_prev {
    width: 40%;
    height: 30px;
    display: inline-block;
    margin-top: 10pt;
}

#but_prev {
    margin-left: 7%;
}

#but_next {
    margin-left: 5%;
}